<body>
    <h1>Fotogalerie</h1>
    <div class="contentContainer">
        <div class="content">
            {{# photos}}
                <img class="gallery" src="img/{{img_name}}" alt="{{alt}}" title="{{alt}}">
            {{/photos}}
        </div>
    </div>
</body>