<body>
    <h1>Vítejte na nových webových stránkách SK Třebechovice, oddílu kanoistiky</h1>
    <div class="contentContainer">
    {{# photo}}
        <img class="gallery" src="img/{{img_name}}" alt="{{alt}}" title="{{alt}}">
    {{/photo}}
    </div>
