<nav>
    <ul class="navbar">
        <li><a class="navbar" href="../index.php">Domů</a></li>
        <li><a class="navbar" href="../posts.php">Příspěvky</a></li>
        <li><a class="navbar" href="../gallery.php">Fotogalerie</a></li>
        <li><a class="navbar" href="../about.php">O nás</a></li>
        <li><a class="navbar" href="../login.php">Přihlásit</a></li>
    </ul>
</nav>