<body>
    <h1>Co se u nás děje?</h1>
    <div class="contentContainer">
        <div class="content">';
            {{# posts}}
            <div class='post'>
                <h2>{{title}}</h2>
                <p>{{content}}</p>
            </div>
            {{/posts}}
        </div>
    </div>
</body>

